.zha_mobile_pdf_wrapper_container{
    background-color: #eaeaea;
    margin: 0px;
    padding: 0px;
}

.zha_mobile_pdf_canvas_wrapper{
    margin-bottom: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
